.home-container {
  font-family: "Times New Roman", Times, serif;
  padding: 0;
  margin: 0;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(135deg, #2563eb, #7c3aed);
  color: white;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero-btn {
  padding: 12px 24px;
  border: none;
  background: rgb(199, 18, 18);
  color: #f3f3f5;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

/* Features Section */
.features {
  padding: 60px 20px;
  text-align: center;
}

.features h2 {
  margin-bottom: 30px;
}

.feature-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.feature-list:hover {
  background-color: aqua;
}

.card {
  background: #f8fafc;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-bottom: 10px;
}
